pandas~=2.3.0
numpy~=2.2.6
matplotlib~=3.10.3
scikit-learn~=1.7.0
joblib~=1.5.1
requests~=2.32.4
python-dotenv~=1.1.0
fastapi~=0.115.13
uvicorn
pydantic~=2.7.1

pytest~=8.4.1
services~=0.1.1
xgboost~=3.0.2